.img1{
    height: 300px;
    width: 300px; 
}
.img2{
    height: 300px;
    width: 300px;   
}
body{
    background-color:salmon;
    
}
.img1:hover{
    box-shadow: 15px 20px 20px black;
    margin-bottom: 10px;  
}
.img2:hover{
    box-shadow: 25px 20px 20px black;
    margin-bottom: 10px;  
}